---
import { APP } from "##/.boilerrc";

import House from "#/assets/house-fill.svg";
import Printer from "#/assets/printer.svg";
import Github from "#/assets/github.svg";
import Moon from "#/assets/moon-fill.svg";
import Sun from "#/assets/sun-fill.svg";
import TextT from "#/assets/text-t.svg";

import "#/styles/_base.css";
import "#/styles/note/_index.css";
import "katex/dist/katex.min.css";
import "katex-copytex/src/katex-copytex.css";

export interface Props {
    subtitle?: string;
    description?: string;
    updatedAt?: Date;
}

const { subtitle, description, updatedAt } = Astro.props;
const title = subtitle ? `${subtitle} | ${APP.name}` : APP.name;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://www.howion.com/favicon.svg"
            rel="icon"
            type="image/svg+xml"
        />

        <title>{title}</title>
        {description && <meta name="description" content={description} />}
        <meta name="author" content="howion" />

        {
            updatedAt && (
                <meta name="last-updated" content={updatedAt.toISOString()} />
            )
        }

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />

        <style id="page_style">
            @page {
                margin: 0;
                padding: 0.325in 0.325in;
                size: 10in 13in;
            }
        </style>
    </head>
    <body>
        <div id="loader">
            <div class="loader-spinner"></div>
        </div>
        <div id="app">
            <div id="app-sidebar">
                <div class="app-sidebar-head">
                    <a href="/" class="app-sidebar-icon">
                        <House />
                    </a>
                    <span class="app-sidebar-icon" id="app-action-font">
                        <TextT class="icon-dark" />
                    </span>
                    <span class="app-sidebar-icon" id="app-action-theme">
                        <Sun class="icon-light" />
                        <Moon class="icon-dark" />
                    </span>
                </div>
                <div class="app-sidebar-foot">
                    <!-- <a
                        class="app-emblem"
                        href="https://www.howion.com"
                        target="_blank"
                    >
                        <img
                            src="https://www.howion.com/favicon.svg"
                            alt="howion.com"
                        />
                    </a> -->
                    <a
                        class="app-sidebar-icon"
                        href={APP.repository}
                        target="_blank"
                    >
                        <Github />
                    </a>
                    <span class="app-sidebar-icon" id="app-action-print">
                        <Printer />
                    </span>
                </div>
            </div>
            <div id="app-view">
                <slot />
            </div>
        </div>
    </body>
</html>

<script>
    import "#/scripts/app.ts";
</script>
